packages:
  yum:
    newrelic-php5: []
    newrelic-sysmond: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm

commands:
  01-command:
    command: newrelic-install install
    env:
      NR_INSTALL_SILENT: true
      NR_INSTALL_KEY: <YOUR_LICENSE_KEY>
  02-command:
    command: yum install newrelic-sysmond -y
  03-command:
    command: nrsysmond-config --set license_key=<YOUR_LICENSE_KEY>
  04-command:
    command: /etc/init.d/newrelic-sysmond restart

